<input id="address" type="textbox" style="width: 15vw; margin: 10px 0;" placeholder="地名を検索">
<input type="button" value="ピンを刺す" onclick="codeAddress()">

<div id="map" class="form-map"></div>

<%= form_with model: @map, id: 'map_new_form' do |f| %>
  <%= f.label :text, style: "display: block" %>
  <%= f.text_field :text %>
  <%= f.text_field :keyword %>
  <%= f.hidden_field :lat, id: :lat %>
  <%= f.hidden_field :lng, id: :lng %>
  <%= f.hidden_field :country, id: :country %>
  <%= f.submit "作成" %>
<% end %>

<style>
#map {
  height: 70vh;
  width: 80vw;
  margin-bottom: 20px;
}
</style>

<script>
  if (typeof map == "undefined") {
    let map;
    var marker;
    var geocoder;
    var afterPinned;
  }

  document.addEventListener('DOMContentLoaded', (e) => {
    if (afterPinned === true) {
      document.getElementById('map_new_form').classList.remove('disabled');
    } else {
      document.getElementById('map_new_form').classList.add('disabled');
    }
  });

  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'),{
      center: {lat: 37.1293, lng: 138.7559},
      zoom: 2,
    });
  }

  function codeAddress(){
    let inputAddress = document.getElementById('address').value;
    geocoder.geocode( { 'address': inputAddress }, function(results, status) {
     if (status == 'OK') {
        if (afterPinned == true) {
          marker.setMap(null);
        }
        map.setCenter(results[0].geometry.location);
          marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            draggable: true
          });

        afterPinned = true;
        let countryComponent = results[0].address_components.find(function (component) {
          return component.types.includes('country');
        });
        let country = countryComponent ? countryComponent.long_name : 'あああ';

        document.getElementById('country').value = country;

        document.getElementById('lat').value = results[0].geometry.location.lat();
        document.getElementById('lng').value = results[0].geometry.location.lng();

        google.maps.event.addListener(marker, 'dragend', function(ev){
          document.getElementById('lat').value = ev.latLng.lat();
          document.getElementById('lng').value = ev.latLng.lng();
        });
      } else {
        alert('該当する結果はありませんでした');
      }
    });
 }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&libraries=places&callback=initMap" async defer></script>
